img{ 
    width: 30%;
    float: left;
    margin: 1.66%;   
}
p{
font-family: "raleway"; 
margin-left: 1.66%;
font-size: 23px;  
font-weight: 800; 
text-transform: uppercase; 
border-bottom: 2px solid #f1f1f1;
width: 30%;  
width: 30%;  
padding-bottom: 20px; 
}

body{
    background-image: url("snake.gif");
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
}


.section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    }
    
    .section h1 {
    text-align: center;
    font-size: 6rem;
    font-family: "Cookie";
    padding: 20px;
    margin: 15px;
    z-index: 1;
    opacity: 1;
    }
    
    .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    opacity: 0.6;
    }
    
    .color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: lightblue;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
    }